@model IEnumerable<EduCodePlatform.Models.CodeSubmission>

@{
    ViewData["Title"] = "Список Code Submissions";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Створити</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserId</th>
            <th>Мова</th>
            <th>Створено</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CodeSubmissionId</td>
                <td>@item.UserId</td>
                <td>@item.ProgrammingLanguage?.Name</td>
                <td>@item.CreatedAt.ToString("g")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CodeSubmissionId" class="btn btn-info btn-sm">Перегляд</a>
                    <a asp-action="Edit" asp-route-id="@item.CodeSubmissionId" class="btn btn-warning btn-sm">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@item.CodeSubmissionId" class="btn btn-danger btn-sm">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
