@model IEnumerable<EduCodePlatform.Models.ProgrammingLanguage>

@{
    ViewData["Title"] = "Список мов програмування";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Додати</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lang in Model)
        {
            <tr>
                <td>@lang.LanguageId</td>
                <td>@lang.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@lang.LanguageId" class="btn btn-info btn-sm">Перегляд</a>
                    <a asp-action="Edit" asp-route-id="@lang.LanguageId" class="btn btn-warning btn-sm">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@lang.LanguageId" class="btn btn-danger btn-sm">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
