@model IEnumerable<EduCodePlatform.Models.EditorSetting>

@{
    ViewData["Title"] = "Editor Settings";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Створити</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserId</th>
            <th>Theme</th>
            <th>TabSize</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EditorSettingId</td>
                <td>@item.UserId</td>
                <td>@item.Theme</td>
                <td>@item.TabSize</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.EditorSettingId" class="btn btn-info btn-sm">Перегляд</a>
                    <a asp-action="Edit" asp-route-id="@item.EditorSettingId" class="btn btn-warning btn-sm">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@item.EditorSettingId" class="btn btn-danger btn-sm">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
